<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="/control" method="post">
 <label>Enter name:</label>
 <input type="text" name="data" required>
 <br>
 <label>Enter sub1 marks</label>
 <input type="number" name="sub1" required>
 <br>
 <label>Enter sub2 marks</label>
 <input type="number" name="sub2" required>
 <br>
 <label>Enter sub3 marks</label>
 <input type="number" name="sub3" required>
 <br>
 <label>Enter sub4 marks</label>
 <input type="number" name="sub4" required>
 <br>
 <label>Enter sub5 marks</label>
 <input type="number" name="sub5" required>
 <br>
 <input type="submit">
 
 </form>
</body>
</html>